body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 3vh 20vw 20vw;
	background-color: #e68e8e;

}

header h1 {
	font: small-caps bold 24px/1 sans-serif;
}

nav ul {
	display: flex;
	flex-direction: row; 
	border: 2px solid grey;
	box-shadow: 2px 2px 3px 0px;
	
}

li {
	padding: 5px;
	list-style: none;
}

footer {
	display: flex;
	flex-direction: row;
	margin-top: 20vh;
}


